<div>
  <i>Commented <%= local_time_ago(comment.created_at) %></i>
  <p>Commenter: <%= comment.commenter %></p>
  <p>Comment: <%= comment.body %></p>
  <%= link_to 'Edit Post', edit_post_comment_path(@post, comment), class: "btn btn-primary" %>
  <%= link_to 'Delete Comment', [comment.post, comment], method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-secondary" %>
</div>
