<div>
	<div>
		<h3>You are reading "<%= @post.title %>"</h3>
		<p>
		
		<% if @post.updated_at > @post.created_at %>Edited by <% end %>
		<%= current_user.first_name %> - <em><%= local_time_ago(@post.created_at) %></em>
	</div>
	<div>
		<%= @post.body %>
	</div>
	<div>
		<%= link_to 'Edit Post', edit_post_path(@post), class: "btn btn-primary" %>
		<%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-secondary" %>
		<%= link_to 'Go back', posts_path, class: "btn btn-primary" %>
	</div>
	<hr>
	<div>
		<strong><%= pluralize(@post.comments.count, "Comment") %></strong>
		<%= render @post.comments %>
	</div>
	<div>
		<h4>Add a comment</h4>
		<%= render 'comments/form' %>
	</div>
</div>